@page "/todos"
@using BlazorAppProject.Shared
<Text typeof="utf-8">
    <div class="col-md-12">
        <h1>Lista de afazeres</h1>
        <Container>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit Placeholder="Coisas a fazer" @bind-Text="newTodo" />


                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Primary" @onclick="AddTask">Add</Button>
                </Addon>
            </Addons>
            <Alert Color="Color.Success" @ref="sucesso">
                <AlertMessage>Adicionado com sucesso!</AlertMessage>
                <CloseButton Clicked="@Hide_add" />
            </Alert>
            <Alert Color="Color.Danger" @ref="erro">
                <AlertMessage>Insira uma mensagem!</AlertMessage>
                <CloseButton Clicked="@Hide_add" />
            </Alert>
        </Container>
        <Table>
            <TableHeader ThemeContrast="ThemeContrast.Light"></TableHeader>
            <TableBody>
                <Addons>
                    <Switch TValue="bool" @bind-Checked="@tipo" style="margin-right:50px;">Qual tipo deseja visualizar?</Switch>
                    @if (tipo)
                    {
                        <TableRow>
                            <h6>Itens a fazer</h6>
                        </TableRow>
                    }
                    else
                    {
                        <TableRow>
                            <h6>Itens feitos</h6>
                        </TableRow>
                    }
                </Addons>
                @foreach (var item in listaTodo)
                {
                    if (tipo == true)
                    {
                        if (!(item.Feito))
                        {
                            <TableRow>
                                <TableRowCell>
                                    <Check TValue="bool"  @bind-Checked="@item.Feito">@item.Titulo</Check>

                                </TableRowCell>

                            </TableRow>

                        }
                    }
                    else
                    {
                        if (item.Feito)
                        {
                            <TableRow>
                                <TableRowCell>
                                    <h6>@item.Titulo</h6>
                                </TableRowCell>

                            </TableRow>

                        }
                    }
                }
            </TableBody>
        </Table>
    </div>
</Text>
@code{
    Alert sucesso;
    Alert erro;
    bool tipo = true;


    public string newTodo { get; set; }

    private void Alerta(Alert alerta)
    {
        alerta.Show();
    }

    private void AddTask()
    {
        if (newTodo != null)
        {
            listaTodo.Add(new Todo() { Titulo = newTodo });
            Alerta(sucesso);
        }
        else
        {
            Alerta(erro);
        }
    }

    void Hide_add()
    {
        sucesso.Hide();
        erro.Hide();
    }

    List<Todo> listaTodo;
    protected override void OnInitialized()
    {
        listaTodo = new List<Todo>();
    }

}